body {
  padding:50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 10px;
}
a {
  color: #00B7FF;
}
footer {
  padding-bottom:50px;
  background: linear-gradient(to right, #02735E, #36BFB1);
}
